@model VacationCalculation.Frontend.Models.EmployeeType.UpdateEmployeeTypeViewModel

@{
    ViewData["Title"] = "Editar tipo de empleado";
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="EditEmployeeType" method="post">
            <input asp-for="Id" type="hidden">
            <div class="col-12">
                <label asp-for="Name" class="form-label">Nombre</label>
                <input asp-for="Name" class="form-control" type="text">
            </div>
            <div class="col-12">
                <label asp-for="DaysPerYear" class="form-label">Dias</label>
                <input asp-for="DaysPerYear" class="form-control" type="number">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="ListEmployeeType" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}