@model VacationCalculation.Frontend.Models.Departament.CreateDepartamentViewModel

@{
    ViewData["Title"] = "Nuevo departamento";
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="CreateDepartament" method="post">
            @if (ViewBag.Errors != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    @foreach (var error in (List<string>)ViewBag.Errors)
                    {
                        <p>@error</p>
                    }
                </div>
            }
            <div class="col-12">
                <label asp-for="Name" class="form-label">Nombre</label>
                <input asp-for="Name" class="form-control" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="ListDepartament" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}