@model VacationCalculation.Frontend.Models.Departament.UpdateDepartamentViewModel

@{
    ViewData["Title"] = "Editar departamento";
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="EditDepartament" method="post">
            <input asp-for="Id" type="hidden">
            <div class="col-12">
                <label asp-for="Name" class="form-label">Nombre</label>
                <input asp-for="Name" class="form-control" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="ListDepartament" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}