@model VacationCalculation.Data.Models.Employee

@{
    ViewData["Title"] = "Nuevo Empleado";
}

<div class="card">
    <div class="card-header">
        Nuevo Empleado
    </div>
    <div class="card-body">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
                <label for="inputPaternal" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" id="inputPaternal">
            </div>
            <div class="col-md-6">
                <label for="inputMaternal" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" id="inputMaternal">
            </div>
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-md-6">
                <label for="inputEntryDate" class="form-label">Fecha de ingreso</label>
                <input type="date" class="form-control" id="inputEntryDate">
            </div>
            <div class="col-md-6">
                <label for="inputBirthday" class="form-label">Cumpleaños</label>
                <input type="date" class="form-control" id="inputBirthday">
            </div>
            <div class="col-md-6">
                <label for="inputDepartament" class="form-label">Departamento</label>
                <select id="inputDepartament" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputTypeEmployee" class="form-label">Tipo empleado</label>
                <select id="inputTypeEmployee" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>