@model VacationCalculation.Frontend.Models.User.UpdateUserViewModel

@{
    ViewData["Title"] = "Editar usuario";
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="EditUser" method="post">
            <input type="hidden" asp-for="Id" />
            @if (ViewBag.Errors != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    @foreach (var error in (List<string>)ViewBag.Errors)
                    {
                        <p>@error</p>
                    }
                </div>
            }
            <div class="col-12">
                <label asp-for="Name" class="form-label">Nombre</label>
                <input asp-for="Name" class="form-control" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="EmployeeId" class="form-label">Empleado</label>
                <select asp-for="EmployeeId" class="form-select" asp-items="ViewBag.Employees">
                    <option disabled selected>Asignar empleado</option>
                </select>
            </div>
            <div class="col-6">
                <label asp-for="RoleId" class="form-label">Rol</label>
                <select asp-for="RoleId" class="form-select" asp-items="ViewBag.Roles">
                    <option disabled selected>Seleccionar rol</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="ListUser" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
