@model VacationCalculation.Frontend.Models.Login.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<form class="container mt-5" asp-action="Login" method="post" style="max-width: 400px;">
  <!-- Card para el formulario -->
  <div class="card shadow-sm">
    <div class="card-body p-4">
      <!-- Título -->
      <h3 class="card-title text-center mb-4">Iniciar Sesión</h3>
      
      <!-- Campo de Email -->
      <div class="mb-3">
        <label for="username" class="form-label">Nombre usuario</label>
        <input type="text" asp-for="Username" class="form-control" placeholder="Ingresa tu nombre usuario" required>
        <span asp-validation-for="Username" class="text-danger small"></span>
      </div>

      <!-- Campo de Contraseña -->
      <div class="mb-4">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
        <span asp-validation-for="Password" class="text-danger small"></span>
      </div>

      <!-- Botón de Iniciar Sesión -->
      <button type="submit" class="btn btn-primary w-100 mb-3">Iniciar Sesión</button>

      <!-- Enlace para recuperar contraseña -->
      <div class="text-center">
        <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</form>
